@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #2f3132;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

li.disc {
  list-style: disc inside;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

.inner, #company, #access {
  max-width: 122.0rem;
  margin: 0 auto;
}

.inner:not(:first-of-type), #company:not(:first-of-type), #access:not(:first-of-type) {
  padding-top: 6.0rem;
  padding-bottom: 6.0rem;
}

.flex, #company .company-wrapper .origin .origin-contents .origin-content-wrapper, #company .company-wrapper .origin .origin-contents .origin-content-wrapper .origin-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.br-pc {
  display: block;
}

.br-tb {
  display: none;
}

.br-sp {
  display: none;
}

.indent {
  padding-left: 1.0em;
  text-indent: -1.0em;
}

.note:before {
  content: "※";
  padding-right: 0.1rem;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.gradation-heading {
  display: inline-block;
  width: 35%;
  margin-bottom: 2.0rem;
  font-family: 'Kosugi Maru', sans-serif;
  text-align: left;
  border-bottom: solid 3px pink;
  position: relative;
}

.gradation-heading:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #921b78;
  bottom: -3px;
  width: 20%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .inner, #company, #access {
    width: 90%;
    margin: 0 auto;
  }
  .inner:not(:first-of-type), #company:not(:first-of-type), #access:not(:first-of-type) {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  .br-pc {
    display: none;
  }
  .br-tb {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .gradation-heading {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1219px) {
  .inner, #company, #access {
    width: 95%;
    margin: 0 auto;
  }
  .inner:not(:first-of-type), #company:not(:first-of-type), #access:not(:first-of-type) {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
  }
  h1 {
    font-size: 3.0rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  h4 {
    font-size: 1.6rem;
  }
  .br-pc {
    display: none;
  }
  .br-tb {
    display: block;
  }
  .br-sp {
    display: none;
  }
  .gradation-heading {
    width: 70%;
  }
}

/* company */
#company {
  padding-top: 7.7rem;
  max-width: 85.0rem;
}

#company .company-wrapper {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
}

#company .company-wrapper .profile {
  margin-bottom: 4.0rem;
}

#company .company-wrapper .profile .profile-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

#company .company-wrapper .profile .profile-table table tr th, #company .company-wrapper .profile .profile-table table tr td {
  padding: 1.0rem 1.5rem;
  border: 1px solid #333;
}

#company .company-wrapper .profile .profile-table table tr th {
  width: 35%;
  background-color: #eeeeee;
}

#company .company-wrapper .vision {
  margin-bottom: 4.0rem;
}

#company .company-wrapper .vision .vision-content .vision-heading {
  text-align: left;
  margin-bottom: 0.5rem;
}

#company .company-wrapper .president {
  margin-bottom: 4.0rem;
}

#company .company-wrapper .president .president-message {
  margin-bottom: 2.0rem;
}

#company .company-wrapper .president .president-message p {
  padding-left: 0.5rem;
}

#company .company-wrapper .president .president-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

#company .company-wrapper .president .president-table table tr th, #company .company-wrapper .president .president-table table tr td {
  padding: 1.0rem 1.5rem;
  border: 1px solid #333;
}

#company .company-wrapper .president .president-table table tr th {
  width: 35%;
  background-color: #eeeeee;
  background-color: pink;
}

#company .company-wrapper .origin {
  margin-bottom: 4.0rem;
}

#company .company-wrapper .origin .origin-contents h4 {
  text-align: left;
  margin-bottom: 4.0rem;
}

#company .company-wrapper .origin .origin-contents .origin-content-wrapper {
  margin-bottom: 4.0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#company .company-wrapper .origin .origin-contents .origin-content-wrapper .origin-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#company .company-wrapper .origin .origin-contents .origin-content-wrapper .origin-content:nth-of-type(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#company .company-wrapper .origin .origin-contents .origin-content-wrapper .origin-content .origin-img {
  display: inline-block;
  height: 17.5rem;
  margin: 0 auto;
  border-style: none;
}

#company .company-wrapper .origin .origin-contents .origin-content-wrapper .origin-content .origin-txt {
  display: inline-block;
  margin: 6.25rem 0;
  text-align: center;
}

#company .company-wrapper .origin ul {
  margin-bottom: 2.0rem;
}

#company .company-wrapper .origin ul li {
  padding-left: 2.25rem;
  background-image: url("../img/sakura-icon-xs.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

/* access */
#access {
  padding-top: 7.7rem;
  max-width: 85.0rem;
}

#access .access-wrapper {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
}

#access .access-wrapper iframe {
  margin-bottom: 0.5rem;
}

#access .access-wrapper .access-txt {
  margin-bottom: 5.0rem;
}

#access .access-wrapper .access-txt > ul ul {
  margin-bottom: 0.5rem;
}

#access .access-wrapper .access-txt > ul > li:before {
  content: "■ ";
}

/*contact*/
#contact {
  padding-top: 7.7rem;
}

#contact .header-img {
  padding-top: 7.5rem;
  background: url("../img/contact/header-img.jpg") no-repeat center;
  background-size: cover;
}

#contact .headline-inner {
  padding: 0 7.5%;
  background: pink;
}

#contact .headline-inner h1 {
  font-family: 'Kosugi Maru', sans-serif;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  color: #2f3132;
  text-align: left;
}

#contact .headline-inner h1:after {
  content: "- CONTACT -";
  font-size: 2.0rem;
  padding-left: 2.0rem;
  vertical-align: middle;
}

#contact .inner .ct-form, #contact #company .ct-form, #contact #access .ct-form {
  max-width: 52.0rem;
  margin: 0 auto;
}

#contact .inner .ct-form form input, #contact #company .ct-form form input, #contact #access .ct-form form input,
#contact .inner .ct-form form textarea,
#contact #company .ct-form form textarea,
#contact #access .ct-form form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.6rem;
  padding: 1.0rem;
  font-size: 1.6rem;
  border: 0.15rem solid #ccc;
  border-radius: 0.4rem;
  outline: none;
}

#contact .inner .ct-form form input.ct-btn, #contact #company .ct-form form input.ct-btn, #contact #access .ct-form form input.ct-btn {
  background-color: #da6b64;
  color: #fff;
  border: 0.2rem solid transparent;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  cursor: pointer;
}

#contact .inner .ct-form form input.ct-btn:hover, #contact #company .ct-form form input.ct-btn:hover, #contact #access .ct-form form input.ct-btn:hover {
  opacity: 0.7;
}
