@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #2f3132;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

li.disc {
  list-style: disc inside;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

.inner, #header .header-inner, footer .footer-inner {
  max-width: 122.0rem;
  margin: 0 auto;
}

.inner:not(:first-of-type), #header .header-inner:not(:first-of-type), footer .footer-inner:not(:first-of-type) {
  padding-top: 6.0rem;
  padding-bottom: 6.0rem;
}

.flex, #header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.br-pc {
  display: block;
}

.br-sp {
  display: none;
}

.indent {
  padding-left: 1.0em;
  text-indent: -1.0em;
}

.note:before {
  content: "※";
  padding-right: 0.1rem;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.gradation-heading {
  display: inline-block;
  width: 35%;
  margin-bottom: 2.0rem;
  font-family: 'Kosugi Maru', sans-serif;
  text-align: left;
  border-bottom: solid 3px pink;
  position: relative;
}

.gradation-heading:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #921b78;
  bottom: -3px;
  width: 20%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .inner, #header .header-inner, footer .footer-inner {
    width: 90%;
    margin: 0 auto;
  }
  .inner:not(:first-of-type), #header .header-inner:not(:first-of-type), footer .footer-inner:not(:first-of-type) {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .gradation-heading {
    width: 70%;
  }
}

#header {
  width: 100%;
  height: 77px;
  background: #200B00;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  z-index: 99;
}

#header .header-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-inner .hlogo {
  cursor: pointer;
  position: relative;
}

#header .header-inner .hlogo a {
  font-family: 'Kosugi Maru', sans-serif;
  padding-left: 4.8rem;
  font-size: 2.5rem;
  line-height: 7.7rem;
  background: url("../img/sakura-icon.png") no-repeat center left;
  background-size: 4.0rem;
}

#header .header-inner .hnav ul.hnav-list li.hnav-item {
  display: inline-block;
  padding: 2.6rem 1.3rem;
}

#header .header-inner .hnav ul.hnav-list li.hnav-item a {
  list-style: none;
}

#header .header-inner .hnav ul.hnav-list li.hnav-item a:hover {
  border-bottom: 0.3rem solid #df5656;
}

#header .header-inner .hnav ul.hnav-list li.hnav-item a.active {
  border-bottom: 0.3rem solid #df5656;
}

#header .header-inner .header-contact ul li:first-of-type {
  font-size: 2.8rem;
}

#header .header-inner .header-contact ul li:first-of-type a i {
  padding-right: 1.0rem;
}

#header .header-inner .header-contact ul li:last-of-type {
  font-size: 1.5rem;
}

/* header-sp */
#header-sp {
  display: none;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

#header-sp .smenu {
  padding: 2.6rem 1.0rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 1.6rem;
  z-index: 99;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

#header-sp .smenu .spmenu-icon {
  display: block;
  width: 3.5rem;
  height: 0.3rem;
  background: #FFFFFF;
  -webkit-transition: ease 1.0s;
  transition: ease 1.0s;
  position: relative;
}

#header-sp .smenu .spmenu-icon:nth-of-type(1) {
  top: 0;
}

#header-sp .smenu .spmenu-icon:nth-of-type(2) {
  margin: 0.8rem 0;
}

#header-sp .smenu .spmenu-icon:nth-of-type(3) {
  top: 0;
}

#header-sp .smenu.open {
  right: calc(100% - 5.5rem);
  background-color: pink;
}

#header-sp .smenu.open .spmenu-icon {
  -webkit-transition: ease .75s;
  transition: ease .75s;
}

#header-sp .smenu.open .spmenu-icon:nth-of-type(1) {
  top: 1.1rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#header-sp .smenu.open .spmenu-icon:nth-of-type(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

#header-sp .smenu.open .spmenu-icon:nth-of-type(3) {
  top: -1.1rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#header-sp .snav {
  width: calc(100% - 5.5rem);
  height: 100%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  background: #f3f3f3;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
}

#header-sp .snav ul.snav-list li.snav-item {
  padding: 0 2.0rem;
  border-bottom: 0.1rem solid #d1dce6;
}

#header-sp .snav ul.snav-list li.snav-item a {
  padding: 1.0rem 4.0rem;
}

#header-sp .snav ul.snav-list li.snav-item a:hover {
  background: url("../img/sakura-icon-s.png") no-repeat center left;
}

#header-sp .snav ul.snav-list li.tel {
  padding: 1.0rem 2.0rem 0 2.0rem;
  font-size: 2.8rem;
}

#header-sp .snav ul.snav-list li.tel a i {
  padding-right: 1.0rem;
}

#header-sp .snav ul.snav-list li.hour {
  padding: 0 2.0rem;
  font-size: 1.5rem;
}

#header-sp .snav.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: ease .75s;
  transition: ease .75s;
}

/* main-visual */
#main-visual {
  width: 100%;
  padding-top: 7.7rem;
  text-align: center;
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide h1 {
  font-family: 'Kosugi Maru', sans-serif;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide a {
  display: inline-block;
  margin: 0 auto;
  padding: 2.0rem;
  color: #dcfd00;
  border-radius: 0.5rem;
  background-color: #252a2c;
  position: absolute;
  top: 70%;
  left: 60%;
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide.account-slide h1 {
  color: #921b78;
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide.pharmacy-slide h1 {
  color: #08a32f;
}

#main-visual .swiper-container .swiper-wrapper .swiper-slide.legal-slide h1 {
  color: #270505;
}

/* footer */
footer {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  background-color: #252a2c;
  color: #fff;
}

footer .footer-inner .column {
  border-bottom: 0.1rem solid #555555;
  position: relative;
}

footer .footer-inner .column nav {
  width: 33.33333%;
  font-size: 1.6rem;
  padding: 2.0rem;
  float: left;
}

footer .footer-inner .column nav .footer-link {
  margin-bottom: 1.5rem;
}

footer .footer-inner .column:after {
  display: block;
  content: "";
  clear: both;
}

footer .footer-inner .column .footer-contact {
  padding-right: 2.0rem;
  padding-bottom: 3.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer .footer-inner .column .footer-contact ul li:first-of-type {
  font-size: 2.8rem;
}

footer .footer-inner .column .footer-contact ul li:first-of-type a i {
  padding-right: 1.0rem;
}

footer .footer-inner .column .footer-contact ul li:last-of-type {
  font-size: 1.5rem;
}

footer .footer-inner p {
  margin: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

/* pagetop */
.pagetop {
  display: inline-block;
  width: 5.0rem;
  height: 5.0rem;
  border-radius: 0.5rem;
  background-color: #df5656;
  cursor: pointer;
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
}

.pagetop:before {
  content: '';
  width: 2.0rem;
  height: 2.0rem;
  border-top: solid 0.3rem #FFFFFF;
  border-right: solid 0.3rem #FFFFFF;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 2.0rem;
  left: 1.5rem;
}
